<div class="card"> 
    <div class="card-body">
        <h4> Nova Postagem </h4>

        <form action="" method="post">
            <label for="titulo"> Título: </label>
            <input type="text" id="titulo" name="titulo" class="form-control"> 
            <label for="titulo"> Slug: </label>
            <input type="text" id="slug" name="slug" class="form-control"> 
            <label for="descricao"> Descrição: </label>
            <input type="text" id="descricao" name="descricao" class="form-control"> 
            <label for="conteudo"> Conteúdo: </label>
            <textarea name="conteudo" id="conteudo" class="form-control"></textarea>
            
            <label for="categoria"> Categoria </label>
            <select name="categoria" id="categoria" class="form-select">
                
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>

                {{else}}

                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
            <button class="btn btn-success mt-4" type="submit"> Criar Postagem </button>        
        </form>
    </div>
</div>